body,
html {
    margin: 0;
    padding: 0;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

#title{
    color: orange;
}

.instructions{
    box-shadow: 10px 10px 5px #888888;
}

/* overview page styling */

#tableCell
{
   width: 100%;
   white-space: nowrap;
   overflow: hidden;
   text-overflow:ellipsis;
}

#tableCell:hover { 
   overflow: visible;
   white-space: pre-wrap;
}

#header {
   text-align: center;
}

#cell {
   text-align: center;
}

.container h6 {
    margin-bottom: 5px;
    font-weight: bold;
}

.container h4 {
    display: flex;
    justify-content: center;
}

#overviewContainer {
    height: 100vh;
    max-width: 300px;
}

#overviewTable {
    table-layout: fixed;
    width: 100%; 
}

.hoverRow:hover{
    background-color: whitesmoke;
}

.links {
    color: #104b86;
}
/* end of overview styling */

.navbar{
    box-shadow: 10px 10px 5px #888888;
}

.navbar {
    background-color: #104b86;
    width: 100%;
    border-radius: 0px;
    display: flex;
    justify-content: flex-end;
}

.instructions .container h1 {
    font-size: 32px;
    font-weight: 600;
}

.instructions {
    background-color: #104b86;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
}

#entryForm {
    margin-top: 14px;
}

#container {
    margin-top: 10px;
}



.boldstuff {
    font-weight: bold;
}

.volunteerform {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}


.container p {
    margin-top: 14px;
}

/* home page styling */
.homeButtonsDiv {
    display: flex;
    justify-content: center;
    margin-top: 15%;
    width: 100%;
    height: 100%;
}

#adminButton {
    font-weight: bold;
    color: white;
    background-color: #f96413;
    width: 20%;
    height: 75px;
}

#volunteerButton {
    font-weight: bold;
    color: white;
    background-color: #104b86;
    width: 20%;
    height: 75px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
    background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.btn-danger {
    margin-left: 10px;
}

.loginHeader {
    background-color: #333333;
    width: 100%;
    border-radius: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    text-decoration: underline;
    color: #eee;
}

md-nav-bar.md-default-theme .md-button._md-nav-button.md-unselected, md-nav-bar .md-button._md-nav-button.md-unselected {
    color: white;
}

.newAdmin {
    height: 30%;
    width: 70%;
    border: 1px solid black;
    padding: 10px;
    /* display: flex;
    justify-content: center; */
}

.setPassword {
    height: 30%;
    width: 70%;
    border: 1px solid black;
    padding: 10px;
}

.login {
    height: 30%;
    width: 300px;
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
}

.Icon {
    font-size: 150%;
}

#editIcon {
    font-size: 150%;
}

#saveIcon {
    font-size: 150%;
}

#cancelIcon {
    font-size: 150%;
}

.tableHeading {
    font-size: 24px;
    text-align: right;
}