<div class="navbar">
  <div class="container">
   <md-nav-bar
    md-selected-nav-item="vm.currentPage">
    <md-nav-item md-nav-href="#/overview" name="overview">Overview</md-nav-item>
    <md-nav-item md-nav-href="#/manageAdmin" name="manageAdmin">Administrators</md-nav-item>
    <md-nav-item md-nav-href="#/training" name="training">Trainings</md-nav-item>
    <md-nav-item md-nav-href="#/login" name="login">Logout</md-nav-item>
  </md-nav-bar>
  </div>
</div>


<!-- <md-nav-bar>
    <md-nav-item md-nav-href="#/overview" name="overview">Overview</md-nav-item>
    <md-nav-item md-nav-href="#/manageAdmin" name="manageAdmin">Administrators</md-nav-item>
    <md-nav-item md-nav-href="#/training" name="training">Trainings</md-nav-item>
    <md-nav-item md-nav-href="#/login" name="login">Logout</md-nav-item>
  </md-nav-bar> -->