<html>
<title class="boldstuff">Volunteer Application</title>
<h3 class="lead" layout="row" layout-align="center center">Volunteer Sign Up</h3>

<form class="volunteerform">
    <div layout-align="center center">
        <md-checkbox ng-model="vm.newApplication.over21"><label>Are you 21 or Over?</label>
        </md-checkbox>
        <div>
            <md-input-container>
                <input required name="firstName" type="text" ng-model="vm.newApplication.firstName" placeholder="First">
            </md-input-container>
            <md-input-container>
                <input required name="lastName" type="text" ng-model="vm.newApplication.lastName" placeholder="Last">
            </md-input-container>
            <md-input-container>
                <input name="middleName" type="text" ng-model="vm.newApplication.middleName" placeholder="Middle">
            </md-input-container>
            <md-input-container>
                <input type="text" ng-model="vm.newApplication.maidenName" placeholder="Maiden">
            </md-input-container>
        </div>
        <md-input-container>
            <label class="md-block"> Address:  </label>
            <input places-auto-complete component-restrictions="{country:'us'}" type="text" required name="address" ng-model="vm.newApplication.address" placeholder="ex.123 Oasis Ave." size="50">
            <p></p>
        </md-input-container>
        <md-input-container>
            <div>
                <label class="md-block">How long have you been at your current address?</label>
                <input type="text" required ng-model="vm.newApplication.timeAtAddress" placeholder="ex.3 Years">
            </div>
        </md-input-container>
        <div>
            <h4 layout-align="center center">Preferred contact method:</h4>
            <md-radio-group ng-model="vm.newApplication.preferredContact">
                <md-radio-button value="Primary Phone" class="md-primary"></md-radio-button>
                <md-input-container>

                    <label for="Primary phone">Primary Phone</label>
                    <input required type="text" placeholder="ex.555-867-5309" ng-model="vm.newApplication.primaryPhone">

                </md-input-container>
                <md-radio-button value="Secondary Phone" class="md-primary"></md-radio-button>
                <md-input-container class="md-block">

                    <label for="Secondary phone">Secondary Phone</label>
                    <input type="text" placeholder="ex.555-867-5309" ng-model="vm.newApplication.secondaryPhone">
                </md-input-container>
                <md-radio-button value="Email" class="md-primary"></md-radio-button>
                <md-input-container class="md-block">

                    <label for="Email">Email</label>
                    <input required type="text" placeholder="ex. sam.doe@email.com" ng-model="vm.newApplication.email">
                </md-input-container>
            </md-radio-group>

            <div>
                <h4>Emergency Contact:</h4>
                <md-input-container class="md-block">
                    <label class="boldstuff">Name:  </label><input type="text" required ng-model="vm.newApplication.emergencyName" placeholder="ex.Pat Doe">
                </md-input-container>
                <md-input-container class="md-block">
                    <label class="boldstuff">Address:  </label><input places-auto-complete component-restrictions="{country:'us'}" type="text" required ng-model="vm.newApplication.emergencyAddress" placeholder="ex.123 4th St." size="50">
                </md-input-container>
                <md-input-container class="md-block">
                    <label class="boldstuff">Daytime Phone:  </label><input type="text" required ng-model="vm.newApplication.emergencyPhone" placeholder="ex.123-456-7890">
                </md-input-container>
                <md-input-container class="md-block">
                    <label class="boldstuff">Relationship:  </label><input type="text" required ng-model="vm.newApplication.emergencyRelationship" placeholder="ex.friend, cousin, spouse">
                </md-input-container>
            </div>
            <div>
                <h4>Do you have a valid drivers license: </h4>
                <md-checkbox required ng-model="vm.newApplication.driversLicense">
                    <label class="boldstuff">Yes</label>
                </md-checkbox>
                <md-checkbox>
                    <label class="boldstuff">No</label>
                </md-checkbox>
            </div>
            <div>
                <h4 layout-align="center center">Personal References(Must have known for at least two years): </h4>
                <md-input-container class="md-block">
                    <label class="boldstuff">Name:  </label><input size="35" type="text" placeholder="First Last" required ng-model="vm.newApplication.reference2Name"></p>
                </md-input-container>
                <md-input-container class="md-block">
                    <label class="boldstuff">Address:  </label><input places-auto-complete component-restrictions="{country:'us'}" size="50" type="text" placeholder="Address" required ng-model="vm.newApplication.reference2Address"></p>
                </md-input-container>
                <md-input-container class="md-block">
                    <label class="boldstuff">Phone:  </label><input type="text" placeholder="Phone" required ng-model="vm.newApplication.reference2Phone"></p>
                </md-input-container>
                <md-input-container class="md-block">
                    <label class="boldstuff">Email:  </label><input type="text" placeholder="Email" ng-model="vm.newApplication.reference2Email"></p>
                </md-input-container>
                <md-input-container class="md-block">
                    <label class="boldstuff">Years Known:  </label><input type="text" placeholder="Years" required ng-model="vm.newApplication.reference2YearsKnown"></p>
                </md-input-container>
                <md-input-container class="md-block">
                    <label class="boldstuff">Relationship:  </label><input type="text" placeholder="ex.Boss, Peer, Employee" required ng-model="vm.newApplication.reference2Relationship"></p>
                </md-input-container>
            </div>
            <h4 layout-align="center center">Second Personal Reference: </h4>
            <div>
                <md-input-container class="md-block">
                    <p><label class="boldstuff">Name:  </label><input type="text" placeholder="First Last" required ng-model="vm.newApplication.reference1Name"></p>
                </md-input-container>
                <md-input-container class="md-block">
                    <p><label class="boldstuff">Address:  </label><input places-auto-complete component-restrictions="{country:'us'}" size="50" type="text" placeholder="Address" required ng-model="vm.newApplication.reference1Address"></p>
                </md-input-container>
                <md-input-container class="md-block">
                    <p><label class="boldstuff">Phone:  </label><input type="text" placeholder="Phone" required ng-model="vm.newApplication.reference1Phone"></p>
                </md-input-container>
                <md-input-container class="md-block">
                    <p><label class="boldstuff">Email:  </label><input type="text" placeholder="Email" ng-model="vm.newApplication.reference1Email"></p>
                </md-input-container>
                <md-input-container class="md-block">
                    <p><label class="boldstuff">Years Known:  </label><input type="text" placeholder="Years" required ng-model="vm.newApplication.reference1YearsKnown"></p>
                </md-input-container>
                <md-input-container class="md-block">
                    <p><label class="boldstuff">Relationship:  </label><input type="text" placeholder="ex.Boss, Peer, Employee" required ng-model="vm.newApplication.reference1Relationship"></p>
                </md-input-container>
            </div>
            <p>
                <md-input-container class="md-block">
                    <aria-label class="boldstuff">Availability to volunteer: </aria-label>
                    <select name="availabilitySelect" ng-model="vm.newApplication.availabilityToVolunteer">
                                <option value="" disabled selected hidden>Please Choose...</option>
                                <option value="Daily">Daily</option>
                                <option value="Weekly">Weekly</option>
                                <option value="Monthly">Monthly</option>
                              </select>
                </md-input-container>
        </div>
        </p>
        <aria-label class="boldstuff">Preferred days to volunteer: </aria-label>
        </br>
        <md-checkbox ng-model="vm.newApplication.mondayPreference"><label>Monday</label>
        </md-checkbox>
        <md-checkbox ng-model="vm.newApplication.tuesdayPreference"><label>Tuesday</label>
        </md-checkbox>
        <md-checkbox ng-model="vm.newApplication.wednesdayPreference"><label>Wednesday</label>
        </md-checkbox>
        <md-checkbox ng-model="vm.newApplication.thursdayPreference"><label>Thursday</label>
        </md-checkbox>
        </br>
        <md-checkbox ng-model="vm.newApplication.fridayPreference"><label>Friday</label>
        </md-checkbox>
        <md-checkbox ng-model="vm.newApplication.saturdayPreference"><label>Saturday</label>
        </md-checkbox>
        <md-checkbox ng-model="vm.newApplication.sundayPreference"><label>Sunday</label>
        </md-checkbox>
        <md-checkbox ng-model="vm.newApplication.noDayPreference"><label>No Preference</label>
        </md-checkbox>

        <div>
            <label>Hours available: </label><br>
            <md-checkbox ng-model="vm.newApplication.hoursAny"><label>Any</label>
            </md-checkbox>
            <md-checkbox ng-model="vm.newApplication.hoursMorning"><label>Mornings</label>
            </md-checkbox>
            <md-checkbox ng-model="vm.newApplication.hoursAfternoon"><label>Afternoons</label>
            </md-checkbox>
            <md-checkbox ng-model="vm.newApplication.hoursEvening"><label>Evening</label>
            </md-checkbox>
        </div>
        <div>
            <label class="boldstuff">Volunteer experience(organization, duties, dates): </label>
            <br><textarea rows="" cols="" type="text" placeholder="Big Brother, Coordinator, 5/14-9/16" ng-model="vm.newApplication.volunteerExperience"></textarea>
        </div>
        </br>
        <div>
            <aria-label class="boldstuff">Volunteer Skills: </aria-label>
            </br>
            <md-checkbox ng-model="vm.newApplication.tutoringSkill"><label>Tutoring</label>
            </md-checkbox>
            <md-checkbox ng-model="vm.newApplication.cookingSkill"><label>Cooking</label>
            </md-checkbox>
            <md-checkbox ng-model="vm.newApplication.healthWellnessSkill"><label>Health/Wellness </label>
            </md-checkbox>
            <md-checkbox ng-model="vm.newApplication.careersSkill"><label>Career assistance </label>
            </md-checkbox>
            <md-checkbox ng-model="vm.newApplication.artSkill"><label>Art</label>
            </md-checkbox>
            <md-checkbox ng-model="vm.newApplication.financialEducationSkill"><label>Financial Education</label>
                </md-input-container>
        </div>
        <div>
            <aria-label class="boldstuff">Languages: </aria-label>
            </br>
            <md-checkbox ng-model="vm.newApplication.english"><label>English</label>
            </md-checkbox>
            <md-checkbox ng-model="vm.newApplication.spanish"><label>Spanish</label>
            </md-checkbox>
            <md-input-container class="md-block">
                <label>Other languages:</label>
                <input type="textarea" ng-model="vm.newApplication.languageOther">
            </md-input-container>
        </div>
        <div>
            <md-input-container class="md-block">
                <p><label class="boldstuff">Additional hobbies and interests: </label><br></p>
                <input type="textarea" ng-model="vm.newApplication.additionalHobbies" size="50">
                </label><br/>
            </md-input-container>

        </div>
        <div>
            <md-input-container class="md-block">
                <p><label class="boldstuff">Please list any medical concerns: </label><br></p>
                <input type="textarea" ng-model="vm.newApplication.medicalConcerns" size="50">
                </label><br/>
            </md-input-container>
        </div>
        <div>
            <p>
                <aria-label class="boldstuff">Volunteer Opportunities: </aria-label><br></p>
            <md-checkbox ng-model="vm.newApplication.dropinOpportunity"><label>Drop-in Center Shift Volunteer</label><br/>
            </md-checkbox>
            <md-checkbox ng-model="vm.newApplication.tutorOpportunity"><label>Tutor </label><br/>
            </md-checkbox>
            <md-checkbox ng-model="vm.newApplication.languageOpportunity"><label>Administration(webmaster, technology, data entry, telephone, bookkeeping)</label><br/>
            </md-checkbox>
            <md-checkbox ng-model="vm.newApplication.marketingOpportunity"><label>Marketing and Outreach(and social media)</label><br/>
            </md-checkbox>
            <md-checkbox ng-model="vm.newApplication.suppliesDonationsOpportunity"><label>Supplies/Donations Drives/Donation Coordination</label><br/>
            </md-checkbox>
            <md-checkbox ng-model="vm.newApplication.fundraisingEventsOpportunity"><label>Fundraising and Events</label><br/>
            </md-checkbox>
            <md-checkbox ng-model="vm.newApplication.otherOpportunity"><label>Other</label><br/>
            </md-checkbox>

        </div>
        <div>
            <md-checkbox required ng-model="vm.newApplication.attendedOrientation"><label class="boldstuff">Attended Orientation:  </label><br/>
        </div>
        <md-content class="datepickerdemoBasicUsage">
            <div layout-gt-xs="row">
                <div flex-gt-xs="">
                    <md-datepicker ng-model="vm.newApplication.orientationDate" md-placeholder="Enter date"></md-datepicker>
                </div>
                <button ng-click='vm.postApplication();'>Submit</button>
                <!-- build ng-model to create object -->

            </div>
</form>

</html