<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <center>
        <h3>Manage Administrators</h3>

        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" "table table-hover" ng-class="{'hidden': mc.toggle}">
            <thead>
                <tr>
                    <th style="text-align:right"><u>Name</u></th>
                    <th style="text-align:right"><u>Position</u></th>
                    <th style="text-align:right"><u>Email Address</u></th>
                    <th style="text-align:right"><u>Edit</u></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="user in mc.allUsers.list" data-ng-class="{danger:!entry.active}">
                    <td style="width:600px"><span data-ng-hide="editMode">{{user.first_name}} {{user.last_name}}</span>
                        <input type="text" data-ng-show="editMode" data-ng-model="user.first_name" placeholder="First Name" data-ng-required /><br>
                        <input type="text" data-ng-show="editMode" data-ng-model="user.last_name" placeholder="Last Name" data-ng-required /></td>
                    <td><span data-ng-hide="editMode">{{user.position}}</span>
                        <input type="text" data-ng-show="editMode" data-ng-model="user.position" placeholder="Position" data-ng-required /></td>
                    <td><span data-ng-hide="editMode">{{user.email}}</span>
                        <input type="text" data-ng-show="editMode" data-ng-model="user.email" placeholder="Email Address" data-ng-required /></td>
                    <td>
                        <button type="submit" data-ng-hide="editMode" data-ng-click="editMode = true; editAppKey(entry)" class="btn btn-default">Edit</button>
                        <button type="submit" data-ng-show="editMode" data-ng-click="editMode = false; mc.updateAdmin(user)" class="btn btn-default">Save</button>
                        <button type="submit" data-ng-show="editMode" data-ng-click="editMode = false; cancel()" class="btn btn-default">Cancel</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- ADD NEW ADMIN PROMPT / BUTTON  -->


        <div>

            <!-- <md-content>
                    <md-input-container class="md-block">
                        <label for="email">Email Address</label>
                        <input required email="email" ng-model="mc.emailAdmin.email">
                        <!-- <div ng-messages="projectForm.firstName.$error">
                        <div ng-message="required">This is required.</div>
                    </div> -->
            <!-- </md-input-container> -->



            <div>
                <div ng-if="mc.status" id="status">
                    <b layout="row" layout-align="center center" class="md-padding">{{mc.status}}</b>
                </div>
                <md-button class="md-primary md-raised" ng-click="mc.promptDialog($event)">
                    Add New Admin
                </md-button>
                <md-button class="md-primary md-raised" ng-click="mc.promptDialog($event)">
                    Reset Password
                </md-button>
            </div>
    </center>
    </div>