<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <center>
        <h3>Manage Administrators</h3>

        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" "table table-hover" ng-class="{'hidden': vm.toggle}">
            <thead>
                <tr>
                    <th style="text-align:right"><u>Name</u></th>
                    <th style="text-align:right"><u>Position</u></th>
                    <th style="text-align:right"><u>Email Address</u></th>
                    <th style="text-align:right"></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="user in vm.allUsers.list" data-ng-class="{danger:!entry.active}">
                    <td><span data-ng-hide="editMode">{{user.first_name}} {{user.last_name}}</span>
                        <input type="text" data-ng-show="editMode" data-ng-model="user.first_name" placeholder="First Name" data-ng-required /><br>
                        <input type="text" data-ng-show="editMode" data-ng-model="user.last_name" placeholder="Last Name" data-ng-required /></td>
                    <td><span data-ng-hide="editMode">{{user.position}}</span>
                        <input type="text" data-ng-show="editMode" data-ng-model="user.position" placeholder="Position" data-ng-required /></td>
                    <td><span data-ng-hide="editMode">{{user.email}}</span>
                        <input type="text" data-ng-show="editMode" data-ng-model="user.email" placeholder="Email Address" data-ng-required /></td>
                    <td>

                        <button type="submit" data-ng-hide="editMode" data-ng-click="editMode = true; editAppKey(entry)" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect md-18"><i class="material-icons">create</i></button>
                        <button type="submit" data-ng-show="editMode" data-ng-click="editMode = false; mc.updateAdmin(user)" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect"><i class="material-icons">save</i></button>
                        <button type="submit" data-ng-show="editMode" data-ng-click="editMode = false; cancel()" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect"><i class="material-icons">cancel</i></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- ADD NEW ADMIN PROMPT / BUTTON  -->
        <div>
            <div>
                <!-- ADD NEW ADMIN BUTTON -->
                <div ng-if="vm.status" id="status">
                    <b layout="row" layout-align="center center" class="md-padding">{{vm.status}}</b>
                </div>
                <md-button class="md-primary md-raised" ng-click="vm.promptDialog($event)">
                    Add New Admin
                </md-button>
                <!-- PASSWORD RESET BUTTON-->
                <div ng-if="vm.status" id="status">
                    <b layout="row" layout-align="center center" class="md-padding">{{vm.status}}</b>
                </div>
                <md-button class="md-primary md-raised" ng-click="vm.resetPrompt($event)">
                    Reset Password
                </md-button>
            </div>
    </center>
    </div>