<div ng-include="'views/partials/nav.html'"></div>
<div class="container">
    <center>
        <h3>Manage Administrators</h3>
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Name</th>
                    <th>Position</th>
                    <th>Email Address</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in mc.allUsers.list">
                    <td class="mdl-data-table__cell--non-numeric">{{user.first_name}} {{user.last_name}} </td>
                    <td>{{user.position}} </td>
                    <td>{{user.email}} </td>
                    <td><button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">
                                <i class="material-icons">create</i>
                              </button></td>
                    <td><button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect" ng-click="mc.deleteAdmin(user.id)">
                                <i class="material-icons">delete</i>
                              </button></td>
                </tr>
            </tbody>
        </table>
    </center>

</div>