<div class="container">
    <div>
        <label for="firstName">First Name</label>
        <input type="text" placeholder="First Name">
    </div>
    <div>
        <label for="lastName">Last Name</label>
        <input type="text" placeholder="Last Name">
    </div>
    <div>
        <label for="username">Username</label>
        <input type="text" placeholder="Username">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" placeholder="Email">
    </div>
</div>