<div ng-include="'views/partials/nav.html'"></div>
<div id="overviewContainer" class="container">
 
  <div layout-padding class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Search Filters</span>
      <h6>Volunteers</h6>
      <md-checkbox ng-model="vm.volunteerSearchObject.all" ng-change="vm.clearFilter()">Show All</md-checkbox>
      <md-checkbox ng-model="vm.volunteerSearchObject.onboarding" ng-change="vm.volunteerSearchObject.all=false">Onboarding</md-checkbox>
      <h6>Volunteer Interests</h6>
      <md-checkbox ng-model="vm.volunteerSearchObject.tutor_opportunity" ng-change="vm.volunteerSearchObject.all=false">Tutoring</md-checkbox>
      <md-checkbox ng-model="vm.volunteerSearchObject.dropin_opportunity" ng-change="vm.volunteerSearchObject.all=false">Drop In Center</md-checkbox>
      <md-checkbox ng-model="vm.volunteerSearchObject.transportation_opportunity" ng-change="vm.volunteerSearchObject.all=false">Transportation</md-checkbox>
      <md-checkbox ng-model="vm.volunteerSearchObject.administration_opportunity" ng-change="vm.volunteerSearchObject.all=false">Administration</md-checkbox>
      <md-checkbox ng-model="vm.volunteerSearchObject.marketing_opportunity" ng-change="vm.volunteerSearchObject.all=false">Marketing and Outreach</md-checkbox>
      <md-checkbox ng-model="vm.volunteerSearchObject.supplies_donations_opportunity" ng-change="vm.volunteerSearchObject.all=false">Supplies/Donations</md-checkbox>
      <md-checkbox ng-model="vm.volunteerSearchObject.fundraising_events_opportunity" ng-change="vm.volunteerSearchObject.all=false">Fundraising and Events</md-checkbox>
      <h6>Skills/Hobbies/Experience</h6>
      <md-checkbox ng-model="vm.volunteerSearchObject.tutoring_skill" ng-change="vm.volunteerSearchObject.all=false">Tutoring</md-checkbox>
      <md-checkbox ng-model="vm.volunteerSearchObject.cooking_skill" ng-change="vm.volunteerSearchObject.all=false">Cooking</md-checkbox>
      <md-checkbox ng-model="vm.volunteerSearchObject.art_skill" ng-change="vm.volunteerSearchObject.all=false">Art</md-checkbox>
      <md-checkbox ng-model="vm.volunteerSearchObject.health_wellness_skill" ng-change="vm.volunteerSearchObject.all=false">Health and Wellness</md-checkbox>
      <md-checkbox ng-model="vm.volunteerSearchObject.career_jobs_skill" ng-change="vm.volunteerSearchObject.all=false">Career Services</md-checkbox>
      <h6>Length of Service</h6>
      <md-checkbox ng-model="vm.volunteerSearchObject.months_underTwelve" ng-change="vm.volunteerSearchObject.all=false">Less than 12 months</md-checkbox>
      <md-checkbox ng-model="vm.volunteerSearchObject.months_underThirtySix" ng-change="vm.volunteerSearchObject.all=false">12-36 months</md-checkbox>
      <md-checkbox ng-model="vm.volunteerSearchObject.months_aboveThirtySix" ng-change="vm.volunteerSearchObject.all=false">More than 36 months</md-checkbox>
      <h6>Status</h6>
      <md-checkbox ng-model="vm.volunteerSearchObject.status_applied" ng-change="vm.volunteerSearchObject.all=false">Applied</md-checkbox>
      <md-checkbox ng-model="vm.volunteerSearchObject.status_review" ng-change="vm.volunteerSearchObject.all=false">Application in Review</md-checkbox>
      <md-checkbox ng-model="vm.volunteerSearchObject.status_background" ng-change="vm.volunteerSearchObject.all=false">Checking Background/References</md-checkbox>
      <md-checkbox ng-model="vm.volunteerSearchObject.status_interview" ng-change="vm.volunteerSearchObject.all=false">Schedule Interview</md-checkbox>
      <md-checkbox ng-model="vm.volunteerSearchObject.status_training" ng-change="vm.volunteerSearchObject.all=false">Schedule Training</md-checkbox>
      <md-checkbox ng-model="vm.volunteerSearchObject.status_ready" ng-change="vm.volunteerSearchObject.all=false">Ready to Volunteer!</md-checkbox>
      <md-checkbox ng-model="vm.volunteerSearchObject.status_inactive" ng-change="vm.volunteerSearchObject.all=false"[]>Inactive</md-checkbox>
    </div>
    <main class="mdl-layout__content">
        <h3>VOLUNTEER OVERVIEW</h3>
      <div id="overviewTable" class="page-content">
        <table class="mdl-data-table mdl-js-data-table">
          <thead>
            <tr>
              <th id="header" class="mdl-data-table__cell--non-numeric">Name</th>
              <th id="header" class="mdl-data-table__cell--non-numeric">Volunteer Interests</th>
              <th id="header" class="mdl-data-table__cell--non-numeric">Skills/Hobbies/Experience</th>
              <th id="header" class="mdl-data-table__cell--non-numeric">Length of Service (months)</th>
              <th id="header" class="mdl-data-table__cell--non-numeric">Status</th>
            </tr>
          </thead>
          <tbody>
              <tr ng-repeat="volunteer in vm.allVolunteers.list | volunteerFilter:vm.volunteerSearchObject">
                  <td id="tableCell" id="cell" class="mdl-data-table__cell--non-numeric"><a ng-href="/#/volunteerDetail/{{volunteer.id}}">{{volunteer.first_name}} {{volunteer.last_name}}</a></td>
                  <td id="tableCell" class="mdl-data-table__cell--non-numeric">{{volunteer.volunteerInterests}}</td>
                  <td id="tableCell" class="mdl-data-table__cell--non-numeric">{{volunteer.volunteerSkills}}</td>
                  <td id="tableCell" id="cell" class="mdl-data-table__cell--non-numeric">{{volunteer.months}}</td>
                  <td id="tableCell" id="cell" class="mdl-data-table__cell--non-numeric">{{volunteer.status}}</td>
                </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
  
</div>