<div ng-include="'views/partials/nav.html'"></div>
<div id="overviewContainer" class="container">
 
  <div layout-padding class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Search Filters</span>
      <h6>Volunteers</h6>
      <md-checkbox ng-model="oc.volunteerSearchObject.all">All</md-checkbox>
      <md-checkbox>Onboarding</md-checkbox>
      <md-checkbox>Ready to Volunteer</md-checkbox>
      <h6>Volunteer Interests</h6>
      <md-checkbox ng-model="oc.volunteerSearchObject.tutor_opportunity">Tutoring</md-checkbox>
      <md-checkbox ng-model="oc.volunteerSearchObject.dropin_opportunity">Drop In Center</md-checkbox>
      <md-checkbox ng-model="oc.volunteerSearchObject.transportation_opportunity">Transportation</md-checkbox>
      <md-checkbox ng-model="oc.volunteerSearchObject.administration_opportunity">Administration</md-checkbox>
      <md-checkbox ng-model="oc.volunteerSearchObject.marketing_opportunity">Marketing and Outreach</md-checkbox>
      <md-checkbox ng-model="oc.volunteerSearchObject.supplies_donations_opportunity">Supplies/Donations</md-checkbox>
      <md-checkbox ng-model="oc.volunteerSearchObject.fundraising_events_opportunity">Fundraising and Events</md-checkbox>
      <h6>Skills/Hobbies/Experience</h6>
      <md-checkbox ng-model="oc.volunteerSearchObject.tutoring_skill">Tutoring</md-checkbox>
      <md-checkbox ng-model="oc.volunteerSearchObject.cooking_skill">Cooking</md-checkbox>
      <md-checkbox ng-model="oc.volunteerSearchObject.art_skill">Art</md-checkbox>
      <md-checkbox ng-model="oc.volunteerSearchObject.health_wellness_skill">Health and Wellness</md-checkbox>
      <md-checkbox ng-model="oc.volunteerSearchObject.career_jobs_skill">Career Services</md-checkbox>
      <h6>Length of Service</h6>
      <md-checkbox>Less than 12 months</md-checkbox>
      <md-checkbox>12-36 months</md-checkbox>
      <md-checkbox>More than 36 months</md-checkbox>
      <h6>Status</h6>
      <md-checkbox ng-model="oc.volunteerSearchObject.status_applied">Applied</md-checkbox>
      <md-checkbox ng-model="oc.volunteerSearchObject.status_review">Application in Review</md-checkbox>
      <md-checkbox ng-model="oc.volunteerSearchObject.status_background">Checking Background/References</md-checkbox>
      <md-checkbox ng-model="oc.volunteerSearchObject.status_interview">Schedule Interview</md-checkbox>
      <md-checkbox ng-model="oc.volunteerSearchObject.status_training">Schedule Training</md-checkbox>
      <md-checkbox ng-model="oc.volunteerSearchObject.status_ready">Ready to Volunteer!</md-checkbox>
    </div>
    <main class="mdl-layout__content">
        <h3>VOLUNTEER OVERVIEW</h3>
      <div id="overviewTable" class="page-content">
        <table class="mdl-data-table mdl-js-data-table">
          <thead>
            <tr>
              <th id="header" class="mdl-data-table__cell--non-numeric">Name</th>
              <th id="header" class="mdl-data-table__cell--non-numeric">Volunteer Interests</th>
              <th id="header" class="mdl-data-table__cell--non-numeric">Skills/Hobbies/Experience</th>
              <th id="header" class="mdl-data-table__cell--non-numeric">Length of Service</th>
              <th id="header" class="mdl-data-table__cell--non-numeric">Status</th>
            </tr>
          </thead>
          <tbody>
              <tr ng-repeat="volunteer in oc.allVolunteers.list | volunteerFilter:oc.volunteerSearchObject">
                  <td class="mdl-data-table__cell--non-numeric"><a ng-href="/#/volunteerDetail/{{volunteer.id}}">{{volunteer.first_name}} {{volunteer.last_name}}</a></td>
                  <td class="mdl-data-table__cell--non-numeric">{{volunteer.volunteerInterests}}</td>
                  <td class="mdl-data-table__cell--non-numeric">{{volunteer.volunteerSkills}}</td>
                  <td class="mdl-data-table__cell--non-numeric"></td>
                  <td class="mdl-data-table__cell--non-numeric">{{volunteer.status}}</td>
                </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>