<div ng-include="'views/partials/nav.html'"></div>

<!-- NEED TO FINISH ROUTE
CONNECT TO CLIENT.JS -->
<div flexbox-parent="flexbox-parent" layout="row" layout-align="center center">
    <md-content>
        <h1 class="lead" layout="row" layout-align="center center">Administer Password Reset</h1>
        <div>
            <md-input-container class="md-block">
                <label for="username">Username</label>
                <input required name="username" ng-model="vm.reset.username">
                <div ng-messages="projectForm.username.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label for="password">Password</label>
                <input required name="password" ng-model="vm.reset.password">
                <div ng-messages="projectForm.password.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button class="md-raised md-primary" ng-click="vm.passwordReset(reset)">Submit New Password</md-button>
            </section>
            </form>
        </div>
    </md-content>
</div>