<div ng-include="'views/partials/nav.html'"></div>
<div flexbox-parent="flexbox-parent" layout="row" layout-align="center center">
    <md-content>
        <h1 class="lead" layout="row" layout-align="center center">Trainings</h1>
    </md-content>

</div>
<div flexbox-parent="flexbox-parent" layout="row" layout-align="center center">
    <md-content>
        <table class="mdl-data-table mdl-js-data-table">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Title</th>
                    <th class="mdl-data-table__cell--non-numeric">Volunteers</th>
                    <th class="mdl-data-table__cell--non-numeric">Employees</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <!-- NON-EDITABLE TABLE -->
            <tr ng-repeat="training in tc.Trainings.training.list" ng-class="{'hidden': tc.toggle}">
                <td class="mdl-data-table__cell--non-numeric">{{training.title}}</td>
                <td>
                    <md-checkbox aria-label="volunteer checkbox"></md-checkbox>
                </td>
                <td>
                    <md-checkbox aria-label="employee checkbox"></md-checkbox>
                </td>
                <td><button class="mdl-button mdl-js-button mdl-button--raised" ng-if="!tc.toggle" ng-click="tc.toggle = true">Edit</button></td>
                <td><button class="mdl-button mdl-js-button mdl-button--raised" ng-click="tc.deleteTraining(training.id)">Delete</button></td>
            </tr>
            <!-- EDITABLE TABLE -->
            <tr ng-repeat="training in tc.Trainings.training.list" ng-class="{'hidden': !tc.toggle}">
                <td class="mdl-data-table__cell--non-numeric"><input type="text" ng-model="training.title"></td>
                <td>
                    <md-checkbox aria-label="volunteer checkbox"></md-checkbox>
                </td>
                <td>
                    <md-checkbox aria-label="employee checkbox"></md-checkbox>
                </td>
                <td><button class="mdl-button mdl-js-button mdl-button--raised" ng-click="tc.updateTraining(training)">Save</button></td>
                <td><button class="mdl-button mdl-js-button mdl-button--raised" ng-if="tc.toggle" ng-click="tc.toggle = false">Cancel</button></td>
            </tr>
        </table>
    </md-content>
</div>
<div layout="row" layout-align="center center">
    <md-button class="md-raised md-primary" ng-click="tc.addTraining()">Add New Training</md-button>
</div>