<div ng-include="'views/partials/nav.html'"></div>
<div>
    <!-- begin row 1 -->
    <div layout="row" class="container">
        <div flex layout-padding>
            <h2 align="center">{{vm.volunteerDetail.list.first_name}} {{vm.volunteerDetail.list.last_name}} </h2>
        </div>
    </div>
    <!-- end row 1 -->

    <!-- begin row 2 -->
    <div layout="row">
        <!-- column 1 -->
        <div flex layout-padding>
            ADDRESS:{{vm.volunteerDetail.list.address}}<br> TIME AT CURRENT ADDRESS:{{vm.volunteerDetail.list.time_at_address}}<br> PRIMARY PHONE: {{vm.volunteerDetail.list.primary_phone}}<br> SECONDARY PHONE: {{vm.volunteerDetail.list.secondary_phone}}<br> EMAIL: {{vm.volunteerDetail.list.email}}
            <br> DRIVER'S LICENSE: {{vm.volunteerDetail.list.drivers_license}}
        </div>
        <!-- column 2 -->
        <div flex layout-padding>
            <md-card layout-fill>
                <md-card-title>
                    <md-card-title-text>
                        <h5>VOLUNTEER STATUS</h5>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <md-select ng-model="status" placeholder="Submitted Application" class="md-no-underline">
                        <md-option value="Submitted Application">Submitted Application</md-option>
                        <md-option value="Application in Review">Application in Review</md-option>
                        <md-option value="Checking Background/Reference">Checking Background/Reference</md-option>
                        <md-option value="Schedule Interview">Schedule Interview</md-option>
                        <md-option value="Schedule Training">Schedule Training</md-option>
                        <md-option value="Ready to Volunteer">Ready to Volunteer!</md-option>
                    </md-select>
                </md-card-content>
            </md-card>
        </div>
        <!-- column 2 -->
        <div flex layout-padding>
            <md-button>EDIT</md-button>
            <md-button>DELETE</md-button>
        </div>
    </div>
    <!-- end row 2 -->

  <!-- begin row 3 -->
<div layout="row">
  <!-- column 1 -->
  <div flex layout-padding>
    <md-card layout-fill>
      <md-card-title>
        <md-card-title-text>
          <h5>EMERGENCY CONTACT</h5>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        NAME {{vm.volunteerDetail.list.emergency_name}}<br> ADDRESS v{{vm.volunteerDetail.list.emergency_address}}
        <br> PHONE {{vm.volunteerDetail.list.emergency_phone}}
        <br> EMAIL {{vm.volunteerDetail.list.emergency_email}}
        <br> RELATIONSHIP {{vm.volunteerDetail.list.emergency_relationship}}
        <br>
      </md-card-content>
    </md-card>
  </div>
  <!-- column 2 -->
  <div flex layout-padding>
    <md-card layout-fill> 
      <md-card-title>
        <md-card-title-text>
          <h5>AVAILABILITY </h5>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        FREQUENCY {{vm.volunteerDetail.list.frequency}}<br> DAYS OF THE WEEK <br> TIME OF DAY
      </md-card-content>
    </md-card>
  </div>
  <!-- column 3 -->
  <div flex layout-padding>
    <md-card layout-fill>
      <md-card-title>
        <md-card-title-text>
          <h5>TRAININGS</h5>
          
        </md-card-title-text>
      </md-card-title>

      <md-card-content ng-repeat='training in vm.completedTrainings.list'> 
          
          {{training.title}}<input type='date' value='{{training.date_completed | date:"yyyy-MM-dd"}}' ng-model='training.updateCompletedDate'><button ng-click='vm.updateCompletedTraining(training.updateCompletedDate, training.id);'>Save</button><br>
      </md-card-content>
    </md-card>
  </div>
</div>
<!-- end row 3 -->

    <!-- begin row 4 -->
    <div layout="row">
        <!-- column 1 -->
        <div flex layout-padding>
            <md-card layout-fill>
                <md-card-title>
                    <md-card-title-text>
                        <h5>PERSONAL REFERENCE</h5>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    NAME {{vm.volunteerDetail.list.reference_1_name}}<br> ADDRESS {{vm.volunteerDetail.list.reference_1_address}}
                    <br> PHONE {{vm.volunteerDetail.list.reference_1_phone}}
                    <br> EMAIL {{vm.volunteerDetail.list.reference_1_email}}
                    <br> RELATIONSHIP {{vm.volunteerDetail.list.reference_1_relationship}}
                    <br> YEARS KNOWN {{vm.volunteerDetail.list.reference_1_years_known}}<br>
                </md-card-content>
            </md-card>
        </div>
        <!-- column 2 -->
        <div flex layout-padding>
            <md-card layout-fill>
                <md-card-title>
                    <md-card-title-text>
                        <h5>LANGUAGES </h5>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    ENGLISH {{vm.volunteerDetail.list.english}}<br> SPANISH {{vm.volunteerDetail.list.spanish}}
                    <br> OTHER {{vm.volunteerDetail.list.language_other}}
                </md-card-content>
            </md-card>
        </div>
        <!-- column 3 -->
        <div flex layout-padding>
            <md-card layout-fill>
                <md-card-title>
                    <md-card-title-text>
                        <h5>VOLUNTEER INTERESTS </h5>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    TUTOR {{vm.volunteerDetail.list.tutor_opportunity}}<br> TRANSPORTATION {{vm.volunteerDetail.list.transportation_opportunity}}
                    <br> MARKETING AND OUTREACH {{vm.volunteerDetail.list.marketing_opportunity}}<br>
                    DROP-IN CENTER {{vm.volunteerDetail.list.dropin_opportunity}} <br> ADMINISTRATION {{vm.volunteerDetail.list.administration_opportunity}} <br> SUPPLIES/DONATIONS {{vm.volunteerDetail.list.supplies_donations_opportunity}} <br> FUNDRAISING AND EVENTS {{vm.volunteerDetail.list.fundraising_events_opportunity}} <br> OTHER {{vm.volunteerDetail.list.other_opportunity}}
                </md-card-content>
            </md-card>
        </div>
    </div>
    <!-- end row 4 -->


    <!-- beginning of row 5 -->
    <div layout="row">
        <!-- column 1 -->
        <div flex layout-padding>
            <md-card layout-fill>
                <md-card-title>
                    <md-card-title-text>
                        <h5>HOBBIES/SKILLS/INTERESTS</h5>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    TUTOR {{vm.volunteerDetail.list.tutoring_skill}}<br> COOKING {{vm.volunteerDetail.list.cooking_skill}}
                    <br> HEALTH AND WELLNESS {{vm.volunteerDetail.list.health_wellness_skill}} <br> CAREER/JOBS {{vm.volunteerDetail.list.career_jobs_skill}} <br> ART {{vm.volunteerDetail.list.art_skill}} <br> OTHER HOBBIES/SKILLS {{vm.volunteerDetail.list.additional_hobbies}}
                </md-card-content>
            </md-card>
        </div>
        <!-- column 2 -->
        <div flex layout-padding>
            <md-card layout-fill>
                <md-card-title>
                    <md-card-title-text>
                        <h5>MEDICAL CONDITIONS</h5>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    PEANUT ALLERGY
                </md-card-content>
            </md-card>
        </div>
        <!-- column 3 -->
        <div flex layout-padding>
            <md-card layout-fill>
                <md-card-title>
                    <md-card-title-text>
                        <h5>VOLUNTEER EXPERIENCE</h5>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                   VOLUNTEER EXPERIENCE {{vm.volunteerDetail.list.volunteer_experience}}
                </md-card-content>
            </md-card>
        </div>
    </div>
    <!-- end row 5 -->

    <!-- begin row 6 -->
    <div layout="row">
        <div flex layout-padding>
            <md-card layout-fill>
                <md-card-title>
                    <md-card-title-text>
                        <h5>ADMINISTRATOR NOTES</h5>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    {{vm.volunteerDetail.list.admin_notes}}
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>